PORT=3000
TMDB_API_KEY=isi_api_key_tmdb_kamu

# Opsional: ganti jika ingin memakai domain VidSrc lain yang masih kompatibel.
# Contoh: https://vidsrc.ru atau https://vidsrc.me
VIDSRC_BASE_URL=https://vidsrc.me

TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMG_URL=https://image.tmdb.org/t/p/w500
